body {
    background-color: bisque;
}

header, content {
    display: flex;
}

nav, .main {
    width: 500px;
    margin:0 auto;
}

#title, #ads {
    text-align: center;  
}

nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;
}

button {
    border: none;
    background-color: lightgreen;
}

button:hover {
    background-color: greenyellow;
}

li {
    list-style: none;
}